/*html, body { overflow: hidden !important;}*/
.tab-pane { padding-top: 20px;}
/*.aside { width: 800px; }*/
.dropdown-menu { z-index: 9999 !important;}
.left-inner-addon {
    position: relative;
}
.left-inner-addon input {
    padding-left: 30px;    
}
.left-inner-addon i {
    position: absolute;
    padding: 10px 12px;
    pointer-events: none;
}

.right-inner-addon {
    position: relative;
}
.right-inner-addon input {
    padding-right: 30px;    
}
.right-inner-addon i {
    position: absolute;
    right: 0px;
    padding: 10px 12px;
    pointer-events: none;
}

.datepicker td.day.disabled:hover {
    background: transparent;
}

/*
.datepicker td.old, .datepicker td.new {
    display: none;
}
*/
.datepicker td.day.disabled {
    color: #eeeeee !important;
    cursor: default;
    text-decoration: line-through;
}

.popover {
    width: 100%;
    max-width: 100%;
}

/* SWIPER PANE FOR THUMBNAILS */
.thumb_pane_nav.prev {
    left: 0;
}
.thumb_pane_nav.next {
    right: 0;
}
.thumb_pane_nav {
    z-index: 1000; 
    position: absolute; 
    top: 40%; 
    font-size: 30px; 
    /*color: #000;*/
}

#pane_container {
    background: white; 
    height: 200px; 
    position: relative; 
    padding: 20px 0;
   
}

.close_pane {
    display: none;  
    position: absolute; 
    top: -48px; 
    right: 0; 
    /*color: #000;*/
    font-size: 30px;
}

.close_pane:hover  {
    /*color: #000;*/
}

.open_pane {
    font-size: 30px;
    /*color: #000;*/
}
.open_pane:hover {
    /*color: #000;*/
}
/* END SWIPER PANE FOR THUMBNAILS */
