/* Main settings */
body{
	font-family:Arial, sans;
	margin:0px;
	padding:0px;
	font-size:14px;
	width:100%;
	height:100%;
	background-color:#eaeaea;
	line-height:22px;
	color:#555555;
	
}

body a:link    {color:#009aff !important;}
body a:visited {color:#009aff !important;}
body a:hover   {color:#000000 !important;}
body a:active  {color:#009aff !important;} 

 /* Header */
#mainHeader{
	position:relative;
	overflow:hidden;
	width:100%;
	height:134px;
	background:url('../round_silver_graphics/headerBarRepeat.jpg');
	background-repeat:repeat-x;
}
 
 #logoImage{
	position:absolute;
	height:134px;
}

#byFWD{
	position:absolute;
}

#html5{
	position:absolute;
	z-index:1;
}

/* Menu holder */
#menuHolder{
	overflow:hidden;
	margin-top:8px;
	position:relative;
	width:100%;
}

/* Product holder */
#mainProductHolder{
	overflow:hidden;
	position:relative;
	width:100%;
	margin-top:12px;
	padding-bottom:26px;
}

#productHolder{
	position:relative;
	background-color:#FFFFFF;
}

#productHolderBackground{
	position:absolute;
}

/* Thumbs holder */
#mainThumbsHolder{
	overflow:hidden;
	position:relative;
	width:100%;
	margin-top:-18px;
	padding-top:20px;
	padding-bottom:20px;
}

#thumbsHolder{
	position:relative;
	height:200px;
}
#whyBuyImageHolder{
	overflow:hidden;
	position:relative;
	width:100%;
	height:74px;
	background:url('../round_silver_graphics/whyBuyImageRepeat.jpg');
	background-repeat:repeat-x;
	margin-top:10px;
}

#whyBuyImage{
	position:absolute;
	width:940px;
	height:74px;
}

#mainWhyBuyText{
	overflow:hidden;
	background-color:#d0d0d0;
	padding:0px;
	margin:0px;
}

#whyBuyText{
	overflow:hidden;
	padding-top:15px;
	padding-bottom:22px;
	margin:auto;
}

#whyBuyFirstColumn {
	float:left;
}

#whyBuySecondColumn{
	float:right;
}

#whyBuyText .middleP{
	padding-bottom:10px;
	
}

.label1{
	width:150px;
	margin:auto;
	text-align:center;
	margin-bottom:-10px;
	margin-top:6px;
}

.label2{
	position:relative;
	z-index:1;
	width:150px;
	margin:auto;
	margin-top:6px;
	text-align:center;
}

.plusImage{
	position:relative;
	margin-right:6px;
	width:7px;
	height:7px;
	top:-2px;
}

/* Color and style */
.blue{
	color:#0099ff;
}

.dark{
	color:#000000;
}
